<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Color Learning Site</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>

      <div id="all">
        <div class="header">
          <div class="btn">
            <div class="home" v-on:click="change('A')" v-bind:class="{'active': isActive === 'A'}">
              <img src="image/home.png" alt="">
            </div>
            <div class="hamburger_btn" v-on:click='ActiveBtn=!ActiveBtn'>
              <span class="line line_01" v-bind:class="{'btn_line01':ActiveBtn}"></span>
              <span class="line line_02" v-bind:class="{'btn_line02':ActiveBtn}"></span>
              <span class="line line_03" v-bind:class="{'btn_line03':ActiveBtn}"></span>
            </div>
          </div>
          <!-- 目次 -->
          <transition name="menu">
            <div class="menu" v-show="ActiveBtn">
                <ul>
                  <li v-on:click="change('A'); ActiveBtn=!ActiveBtn" v-bind:class="{'active': isActive === 'A'}">Home</li>
                  <li v-on:click="change('B'); ActiveBtn=!ActiveBtn" v-bind:class="{'active': isActive === 'B'}">About</li>
                  <li v-on:click="change('C'); ActiveBtn=!ActiveBtn" v-bind:class="{'active': isActive === 'C'}">色とは何か</li>
                  <li v-on:click="change('D'); ActiveBtn=!ActiveBtn" v-bind:class="{'active': isActive === 'D'}">色の表し方</li>
                  <li v-on:click="change('E'); ActiveBtn=!ActiveBtn" v-bind:class="{'active': isActive === 'E'}">参考文献</li>
                </ul>
            </div>
          </transition>
        </div>
        <!-- 記事 -->
        <div class="main">
          <div class="page">

            <div class="article" v-if="isActive === 'A'">
              <div class="title">
                <h1>Home</h1>
              </div>
              <div class="contents">
                <h2>整理中
                </h2>
                </ul>
              </div>
            </div>

            <div class="article" v-if="isActive === 'B'">
              <div class="title">
                <h1>About</h1>
              </div>
              <div class="contents">
                <h2>このサイトについて</h2>
                <p>このサイトは「色について少しでも知識がある人が、色の全体像をみて各要素の関係性をシンプルな図やUIを使って理解できるサイト」を目標に作ったサイトです。作ろうと思ったきっかけは</p>
                <ul>
                  <li>おしゃれなカラーパレットが簡単に作れる</li>
                  <li>今すぐ使える配色テクニック</li>
                  <li>色の属性を細かくいじれるサイト</li>
                </ul>
                <p>などのツールやサイトが沢山ある。<br>↓<br>これらのおかげで部分的な知識がついてきたが、それらの関係性がわからなく、いまいち色についての全体像を把握できない。
                なので色の属性を細かくいじれるサイトをみても活用できない、少し踏み入った話に入っていけない、などを感じた。<br>↓<br>全体像をつかんで、
                それぞれをUIを使ってわかりやすく解説しているサイトがあれば直感的に色を理解できる。</p>
                <h2>使用したもの</h2>
                <p>UI製作にはVue.jsを、図の作成はAdobe Illustratorを用いました。その他参考にしたものは参考ページにまとめてあります。</p>
              </div>
            </div>

            <div class="article" v-else-if="isActive === 'C'">
              <div class="title">
                <h1>色とは何か</h1>
              </div>
              <div class="contents">
                <h2>色を認識する原理</h2>
                <p>色とは〜であるというように、踏み入った話はここでは触れずに、なるべく全体の理解に重きを置いて話を進めていきます。
                  身の回りにある物の色というのは「光が物に当たり、その光が物の表面で反射され、その光が目に入り信号が神経を通って脳に到達し色を認識する」ということで見えています。
                  この流れを図にするとこんな感じです。ここでは太陽の光がりんごに当たり、りんご表面で反射した光が目に入り脳へ信号がいき色が認識されます。
                </p>
                <div><img src="image/route.png" alt=""></div>
                <h2>色の種類</h2>
                <p>色が見える仕組みがわかったところで、次は色の分類について色は光が目に届くまでの経路の違いで分類される。</p>
                <div><img src="image/colortype.png" alt=""></div>
                
              </div>
            </div>

            <div class="article" v-else-if="isActive === 'D'">
              <div class="title">
                <h1>色の表し方</h1>
                <p>この章では色の表し方の全体像を把握できます。<br>
                  色の三属性から表色系そして、現在使われている主要な色の表し方について説明します。</p>
              </div>
              <div class="contents">
                <h2>色の三属性</h2>
                <p>色の三属性は色相、彩度、明度の三つです。ますそれぞれについて簡単に説明します。<br>
                色相は赤・黄・緑などの根本的な色の性質の違いを表すもので、光の波長の違いとほぼ同じです。ですが青と赤の間に対応する波長がないため完全には同じではない点に注意です。<br>
                彩度は色の鮮やかさを表します。値が小さければ色がくすみ、値が大きければ色が鮮やかに（原色に近づき）ます。<br>
                明度は色の明るさを表します。値が小さければ色は暗くなっていき、大きければ色は明るくなっていきます。<br>
                では実際に三つの値をいじって色がどのように変化するか見てみましょう。</p>
                <hsl-pick></hsl-pick>
                <p>イメージは掴めたでしょうか。この下に詳しい英訳の話を描く。</p>

                <h2>表色系</h2>
                <p>次に表色系について説明します。</p>
                <div><img src="image/colorsystem.png" alt=""></div>

                <h2>RGB</h2>
                <rgb-pick></rgb-pick>
              </div>
            </div>

            <div class="article" v-else-if="isActive === 'E'">
              <div class="title">
                <h1>参考</h1>
              </div>
              <div class="contents">
                <h2>書籍</h2>
                <p>なるほどデザイン</p>
                <p>人を動かす「色」の科学</p>
                <p>色彩学概論</p>
                <p>デジタル色彩工学</p>
                <p>動かして学ぶ！Vue.js開発入門</p>
                <h2>Webサイト-内容-</h2>
                <p><a href="https://ja.wikipedia.org/wiki/%E8%89%B2" target="_blank" rel="noopener noreferrer">色-Wikipedia</a></p>
                <p><a href="https://www.ccs-inc.co.jp/museum/column/" target="_blank" rel="noopener noreferrer">コラム | 光と⾊の話</a></p>
                <h2>Webサイト-レイアウトやデザイン-</h2>
                <p><a href="https://icones.js.org/" target="_blank" rel="noopener noreferrer">Icônes</a></p>
                <p><a href="https://uxmilk.jp/" target="_blank" rel="noopener noreferrer">UX MILK</a></p>
                <p><a href="https://tobalog.com/" target="_blank" rel="noopener noreferrer">トバログ</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <p>nohara naoto</p>
        </div>

      </div>

    <script src="myscript.js"></script>
  </body>
</html>
