:root{
    font-size: 25px;
  }
  
  *{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    --firstcolor: #ffffff;
    --secondcolor: #ebebeb;
    --thirdcolor: #adadad;
    --fourthColor: #707070;
    --fifthcolor: #333333;
  }
  
  body{
    margin: 0;
  }
  
  #all{
    color: var(--fifthcolor);
    font-size: 0.65rem;
    @media screen and (max-width: 959px) {
      font-size: 0.6rem;
    }
    .header{
      width: 100%;
      height: 100px;
      background-color: var(--firstcolor);
      display: flex;
      align-items: center;
      .btn{
        display: flex;
        justify-content: space-between;
        width: 880px;
        margin: 0 auto;
        @media screen and (max-width: 959px) {
          width: 528px;
        }
        @media screen and (max-width: 589px) {
          width: 100vw;
        }
        .home{
          width: 70px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          img{
            width: 35px;
            height: 35px;
          }
          &:hover{
            opacity: 0.5;
            transition: 0.4s;
          }
        }
        .hamburger {
          width: 70px;
          height: 70px;
          cursor: pointer;
          z-index: 50;
          position: relative;
          .line {
            position: absolute;
            top: 0;
            left: 8.75px;
            width: 35px;
            height: 3px;
            background: var(--fifthcolor);
            border-radius: 10px;
          }
          .line_01 {
            top: 17.5px;
            transition: 0.4s ease;
          }
                  
          .line_02 {
            top: 33.5px;
            transition: 0.4s ease;
          }
                  
          .line_03 {
            top: 49.5px;
            transition: 0.4s ease;
          }
            
          .btn_line01 {
            transform: translateY(16px) rotate(-45deg);
            transition: 0.4s ease;
            background-color: var(--firstcolor);
          }
                  
          .btn_line02 {
            transition: 0.4s ease;
            opacity: 0;
          }
                  
          .btn_line03 {
            transform: translateY(-16px) rotate(45deg);
            transition: 0.4s ease;
            background-color: var(--firstcolor);
          }
        }
      }
  
      // サイドメニュー
      .menu-enter-active, .menu-leave-active {
        transition: 0.4s;
      }
            
      .menu-enter, .menu-leave-to {
        opacity: 0;
      }
  
      .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--fourthColor);
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
          list-style: none;
          padding-left: 0;
          text-align: center;
          color: var(--firstcolor);
          li{
            width: 300px;
            font-size: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 2px solid;
            cursor: pointer;
            transition: .3s;
            &:hover{
              color: var(--thirdcolor);
            }
          }
        }
      }
    }
  
    .main{
      background-color: var(--secondcolor);
      // marginの相殺を防ぐためのflex
      display: flex;
      flex-direction: column;
      .page{
        width: 880px;
        margin: 50px auto;
        border-radius: 10px;
        background-color: var(--firstcolor);
        @media screen and (max-width: 959px) {
          width: 528px;
        }
        @media screen and (max-width: 589px) {
          width: 100vw;
          border-radius: 0px;
        }
        .article{
          width: 800px;
          @media screen and (max-width: 959px) {
            width: 480px;
          }
          @media screen and (max-width: 589px) {
            width: 90vw;
          }
          margin: 0 auto;
          .title{
            width: 100%;
            text-align: center;
            margin-top: 50px;
          }
          .contents{
            margin-bottom: 50px;
            img{
              width: 100%;
              max-width: 100%;
            }
            a{
              color: var(--fourthColor);
              &:hover{
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  
    .footer{
      height: 100px;
      color: var(--firstcolor);
      background-color: var(--fifthcolor);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    input[type=range]{
      width: 400px;
      height: 10px;
      @media screen and (max-width: 959px) {
        width: 300px;
        height: 7px;
      }
      border-radius: 10px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      // 選択表示の枠を消す
      outline: 0;
      // ブラウザによる描画を外す
      appearance: none;
      -webkit-appearance: none;
      // ボタンの設定
      &::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        @media screen and (max-width: 959px) {
          width: 15px;
          height: 15px;
        }
        border-radius: 50%;
        border: 1px solid  var(--fourthColor);
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      }
    }
  
    .hsl,.rgb{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .hsltext,.rgbtext{
        display: flex;
        justify-content: space-between;
        width: 400px;
        @media screen and (max-width: 959px) {
          width: 300px;
        }
        margin: 20px 0 10px 0;
      }
      .hslpanel,.rgbpanel{
        width: 400px;
        height: 200px;
        @media screen and (max-width: 959px) {
          width: 300px;
          height: 150px;
        }
        border-radius: 10px;
      }
    }
  
    .hsl{
      .hueBar{
        background: linear-gradient(to right,
         hsl(0, 100%, 50%) 0%,
         hsl(30, 100%, 50%) 8.3%,
         hsl(60, 100%, 50%) 16.6%,
         hsl(90, 100%, 50%) 25%,
         hsl(120, 100%, 50%) 33.3%,
         hsl(150, 100%, 50%) 41.6%,
         hsl(180, 100%, 50%) 50%,
         hsl(210, 100%, 50%) 58.3%,
         hsl(240, 100%, 50%) 66.6%,
         hsl(270, 100%, 50%) 75%,
         hsl(300, 100%, 50%) 83.3%,
         hsl(330, 100%, 50%) 91.6%,
         hsl(360, 100%, 50%) 100%);
      }
    }
  
    .rgb{
      .rgbpanel {
        position:relative;
        .colorCode{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          width: 100px;
          height: 50px;
          @media screen and (max-width: 959px) {
            width: 75px;
            height: 37px;
          }
          border-radius: 10px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  